* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  justify-content: center;
  height: 300px;
  position: relative;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.login-section {
  background-color: #fff;
  border: 1px solid gray;
  width: 320px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.login__email,
.login__password {
  display: flex;
  flex-direction: column;
}

.login__email label,
.login__password label {
  color: rgb(209, 128, 21);
  font-weight: 700;
  margin-bottom: 4px;
}
.login__email input,
.login__password input {
  font-size: 18px;
  padding: 10px;
  border: 1px solid rgb(209, 128, 21);
  border-radius: 6px;
}
.login__email input:focus,
.login__password input:focus {
  outline: 1px solid rgb(209, 128, 21);
}

.btn {
  cursor: pointer;
  background-color: rgb(209, 128, 21);
  color: #fff;
  padding: 13px;
  border: none;
  font-size: 18px;
  border-radius: 9px;
}
.btn:hover {
  background-color: rgb(238, 180, 104);
}

/* Cat */
.cat {
  position: absolute;
  top: -140px;
}
/* ear */
.ear {
  position: absolute;
  width: 100px;
  height: 100px;

  background-color: rgb(240, 208, 103);
  z-index: -9;
  clip-path: polygon(40% 0, 100% 100%, 0 100%);
}
.ear-1 {
  transform: rotateZ(-20deg);
  left: -17px;
  top: -30px;
}
.ear-2 {
  transform: rotateZ(30deg);
  right: -21px;
  top: -30px;
}
.inner-ear1 {
  position: absolute;
  clip-path: polygon(40% 0, 100% 100%, 0 100%);
  background-color: rgb(214, 179, 65);
  width: 80px;
  height: 70px;
  z-index: -9;
  left: -8px;
  top: -13px;
  transform: rotateZ(-20deg);
}
.inner-ear2 {
  position: absolute;
  clip-path: polygon(40% 0, 100% 100%, 0 100%);
  background-color: rgb(214, 179, 65);
  width: 80px;
  height: 70px;
  z-index: -9;
  right: -11px;
  top: -15px;
  transform: rotateZ(30deg);
}
/* Cat Head */

.cat-head {
  width: 140px;
  height: 140px;
  background-color: rgb(255, 220, 100);
  border-radius: 50%;
  right: 50px;
  z-index: -99999;
}
.cat-eyes {
  display: flex;
}
.cat-eye {
  position: absolute;
  width: 20px;
  height: 25px;
  background-color: #3a3a3a;
  top: 45px;
  border-radius: 45%;
}
.cat-eye-first {
  right: 30px;
}
.cat-eye-second {
  left: 30px;
}
.eye-circle {
  position: inherit;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  top: 4px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}
/* nose */
.cat-nose {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #3a3a3a;
}
.cat-mouth {
  position: absolute;
  top: 90px;
  z-index: 1;
}
.mouth1,
.mouth2 {
  background-color: #4d4449;
  height: 8px;
  width: 20px;
  border-radius: 0 0 30px 30px;
  position: relative;
  top: 0px;
}
.mouth1 {
  left: 50px;
}
.mouth {
  height: 6px;
  width: 18px;
  background-color: rgb(255, 220, 100);
  border-radius: 0 0 10px 10px;
  position: relative;
  left: 1px;
  bottom: 1px;
}
.mouth2 {
  position: absolute;
  bottom: 30px;
  left: 70px;
}
.cat-tongue {
  position: absolute;
  width: 25px;
  height: 23px;
  background-color: rgb(194, 77, 56);
  left: 50%;
  top: 90px;
  transform: translateX(-50%);
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
/* mustage */
.mustage-wrapper {
  position: relative;
  top: 80px;
}
.mustage {
  margin-bottom: 10px;
  width: 60px;
  height: 5px;
  border-radius: 30%;
  background-color: rgb(165, 135, 35);
  z-index: 9999;
}
.mustage-right {
  position: absolute;
  left: 55%;
  top: 0;
}
.mustage-left__first {
  clip-path: polygon(100% 30%, 100% 0%, 100% 90%, 100% 100%, 10% 30%);
}
.mustage-left__second {
  position: absolute;
  clip-path: polygon(100% 30%, 100% 0%, 100% 0%, 100% 100%, 10% 30%);
  top: 10px;
  transform: rotateZ(-10deg);
}

.mustage-right__first {
  clip-path: polygon(100% 30%, 100% 0%, 100% 0%, 100% 100%, 10% 30%);
  transform: rotateZ(180deg);
}
.mustage-right__second {
  position: absolute;
  top: 10px;
  transform: rotateZ(190deg);
  clip-path: polygon(100% 30%, 100% 0%, 100% 0%, 100% 100%, 10% 30%);
}

/* hand */
.hand {
  background-color: rgb(212, 179, 70);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 999999;
  position: absolute;
  width: 40px;
  height: 40px;
}
.hand-left {
  left: -30px;
}
.hand-right {
  right: -30px;
}

.focused-right {
  transition: 1s all;
  height: 120px;
  animation-name: righpawonface;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}
.focused-left {
  transition: 1s all;
  animation-name: leftpawonface;
  animation-delay: 0.15s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes leftpawonface {
  0% {
    height: 30px;
  }
  100% {
    rotate: -120deg;
    height: 100px;
    transform: translate(100px, 90px);
  }
}
@keyframes righpawonface {
  0% {
    height: 30px;
  }
  100% {
    rotate: 115deg;
    height: 100px;
    transform: translate(-100px, 90px);
  }
}
